
<style>
    .zigzag-outside {
        position: relative;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: white;
        /* example content */
        padding: 1em;


    }
    .zigzag-outside:before {
        content: "";
        position: absolute;
        top: -18px;
        left: 0;
        right: 0;
        height: 4px;
        /* white up pointing triangle */
        background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C4%204%2C0%208%2C4%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
    }
</style>


<div class="ui vertical feature segment zigzag-outside" id="service-holder">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui three column center aligned stackable divided grid">
                {% for entity in entities %}
                    <div class="column">
                        <div class="ui icon header">
                            <i class="user icon"></i>
                            {{ entity.name }}
                        </div>
                        <p>{{ entity.description }}</p>
                        <p>
                                <a href="{{ path('service_show', { 'id': entity.id }) }}" class="ui button">
                                    Baci pogled
                                </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<h1>Service list</h1>

<table class="records_list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Id</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('service_show', { 'id': entity.id }) }}">{{ entity.user }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.location }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('service_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('service_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('service_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

